header{
    background: rgb(255, 255, 255);
    background-color: rgb(107, 3, 3);
    text-align: center;
    font-size: 2vw;
    padding: 11px;
}

.cartao__conteudo{
    padding: 20px;
    border: 1px solid rgb(107, 3, 3);
    border-radius: 2px;
    box-shadow: 0 4px 6px rgb(53, 3, 3);
    transition: transform 0.2;
    margin: 10px;
}

.cartao__conteudo:hover{
    transform: scale(1.01);
}

.cartao__conteudo__resposta{
    display: none;
    text-align: center;
    padding: 20px;
    background-color: rgb(107, 3, 3);
    color: rgb(255, 255, 255);
}